* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #D3CECB;
    border-radius: 5px;
}

.strona-glowna {
    width: 100%;
    height: 100vh;
}

.logo {
    height: 100vh;
    width: 100%;
    position: relative;
}

.logo-biale,
.logo-szare {
    position: absolute;
    width: 100%;
    top: 18%;
    right: .3rem;
    text-align: center;
}

.logo-biale {
    font-size: 18rem;
    z-index: 100;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.logo-szare {
    color: #DAB387;
    font-size: 18rem;
}

.landing-page {
    height: 100vh;
    width: 60%;
    position: relative;
    background-image: url(../images/backgrounddark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.nd-title {
    color: white;
    position: absolute;
    letter-spacing: .3rem;
    font-size: 2.4rem;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 23.5rem;
}

.roller {
    position: absolute;
    bottom: 27%;
    left: 50%;
    transform: translate(-48%, -50%);
}

.arrow {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1rem;
}

.landing-page::before {
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    bottom: 20rem;
    left: 0;
    height: 2px;
    width: 32rem;
}

.landing-page::after {
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    bottom: 20rem;
    right: 0;
    height: 2px;
    width: 32rem;
}

.strona-glowna::after {
    content: '';
    background-color: #FFA987;
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 20rem;
    right: 0;
    height: 2px;
    width: 100%;
}

/*   NAVBAR   */

header {
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.linki {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.linki a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
}

.about-animation {
    padding: 6px 10px 6px 10px;
    position: relative;
    top: .8rem;
}

.animacja::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: #FFA987;
    transition: width 0.3s ease-out;
}

.animacja:hover::after {
    width: 100%;
}

.services-animation {
    padding: 6px 10px 6px 10px;
    position: relative;
    top: .8rem;
}

.contact-animation {
    padding: 6px 10px 6px 10px;
    position: relative;
    top: .8rem;
}

.galery-animation {
    padding: 6px 10px 6px 10px;
    position: relative;
    top: .8rem;
}

/*O MNIE */

.about {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 29rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #A19F9C;
    z-index: -1;
    border-top: 2px solid#FFA987;
    border-bottom: 2px solid#FFA987;
}

.o-mnie {
    position: relative;
    height: 100%;
    width: 325px;
    border-right: 2px solid #FFA987;
}

.o-mnie::before {
    content: '';
    top: 50%;
    right: 0;
    background-image: url(../images/polkole.svg);
    position: absolute;
    height: 50px;
    width: 20px;
    transform: translate(0, -50%);
}

.o-mnie p {
    position: absolute;
    font-family: 'Poiret One', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    font-weight: 600;
}

.o-mnie-tekst {
    color: white;
    height: 100%;
    width: 80rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
    line-height: 2.5;
    margin-left: .8rem;
}

.ikony {
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 12.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exp {
    display: flex;
    align-items: center;

}

.exp p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #A19F9C;
    margin-left: 10px;

}

.rynek {
    display: flex;
    align-items: center;

}

.rynek p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #A19F9C;
}

.teren {
    display: flex;
    align-items: center;

}

.teren p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #A19F9C;
}

/* USLUGI */

.uslugi1 {
    width: 100%;
    height: 18rem;
}

.uslugi {
    position: relative;
    margin-left: 326px;
    width: 1295px;
    height: 100%;
    border-bottom: 2px solid #FFA987;
    border-left: 2px solid #FFA987;
}

.uslugi p {
    color: #FFA987;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    letter-spacing: .3rem;
    font-weight: 600;
    position: absolute;
    left: 45%;
    top: 67%;
}

.uslugi::before {
    content: '';
    bottom: -5.2%;
    right: 50%;
    background-image: url(../images/polkole.svg);
    position: absolute;
    height: 50px;
    width: 20px;
    transform: rotate(90deg);
}

.uslugi-tekst1 {
    width: 84.8%;
    height: 23rem;
    background-color: #A19F9C;
}

.uslugi-tekst::after {
    content: '';
    background-color: #FFA987;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 41.6rem;
}

.uslugi-tekst {
    position: relative;
    margin-left: 326px;
    width: 1295px;
    height: 100%;
}

.uslugi-tekst p {
    font-size: 1.43rem;
    line-height: 1.8rem;
}

.tekst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border-right: 2px solid#FFA987;
    color: white;
}

.jeden {
    border-right: 2px solid #FFA987;
    padding-right: 1.95rem;
}

.dwa2{
    border-right: 2px solid #FFA987;
    padding-right: 2.1rem;
}

.dwa {
    border-right: 2px solid #FFA987;
    padding-right: 2.1rem;
}

.trzy {
    border-right: 2px solid #FFA987;
    padding-right: 10rem;
}

.strzalka {
    height: 16.7rem;
    width: 100%;
    position: relative;
}

.strzalka::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 3px;
    display: block;
    background-color: #FFA987;
    left: 50%;
    z-index: 1;
}

.strzalka::after {
    content: '';
    position: absolute;
    z-index: 2;
    background-image: url(/images/trojkat.svg);
    background-repeat: no-repeat;
    left: 50.1%;
    bottom: -1rem;
    transform: translate(-50%, -50%);
    width: 1.15rem;
    height: 0.85rem;
}

/* KONTAKT */

.contact {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 21.5rem;
    margin-bottom: 30rem;
}

.linie {
    position: absolute;
    z-index: -1;
    top: -27rem;
    width: 100%;
    height: 86rem;
}

.kontakt {
    position: relative;
    width: 40rem;
    height: 8rem;
    margin: auto;
    border-bottom: 2px solid #FFA987;
}

.kontakt::before {
    content: '';
    bottom: -1.1rem;
    right: 47.7%;
    background-image: url(../images/polkole.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 3.2rem;
    width: 1.9rem;
    transform: rotate(90deg);
}

.kontakt p {
    position: absolute;
    font-size: 1.87rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    letter-spacing: .3rem;
    font-weight: 600;
    color: #FFA987;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kontakt-tekst {
    margin: auto;
    background-color: #A19F9C;
    height: 13.5rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #FFA987;
}

.telefon {
    display: flex;
    align-items: center;
    width: 16rem;
    margin-left: -1rem;
}

.telefon p {
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}

.email {
    display: flex;
    align-items: center;
    width: 22rem;
    margin-left: -1rem;
}

.email p {
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}


/*-webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px; */

/*FOOTER */

footer {
    width: 100%;
    height: 10rem;
    background-color: #D3CECB;
    position: relative;
}


.strzala {
    position: absolute;
    height: 1rem;
    right: 49.5%;
    top: -.75rem;
    z-index: 1;
    transition: 0.2s ease-out;
    animation: fadeup 2s infinite;
}

@keyframes fadeup {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-.7rem);
    }
}

.kolo {
    position: absolute;
    right: 48.6%;
    top: -2rem;
    height: 2rem;
}

.odnosniki {
    width: 100%;
    height: 8rem;
}

.odnosniki a {
    color: white;
}

.footer-tekst {
    margin: auto;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.odnosniki a:nth-of-type(1) {
    font-size: 1.87rem;
    margin-left: -.8rem;
    margin-top: 2rem;
    position: relative;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    letter-spacing: .3rem;
    font-weight: 600;
    color: #FFA987;
    border-bottom: 2px solid white;
}

.odnosniki a:nth-of-type(2) {
    font-size: 1.87rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    letter-spacing: .3rem;
    font-weight: 600;
    color: #FFA987;
    border-bottom: 2px solid white;
}

.odnosniki a:nth-of-type(1)::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -.1rem;
    height: 2px;
    width: 0;
    background-color: #A19F9C;
    transition: width 0.3s ease-out;
}

.odnosniki a:nth-of-type(1):hover::after {
    width: 100%;
}

.odnosniki a:nth-of-type(2)::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -.1rem;
    height: 2px;
    width: 0;
    background-color: #A19F9C;
    transition: width 0.3s ease-out;
}

.odnosniki a:nth-of-type(2):hover::after {
    width: 100%;
}

.copyright {
    float: right;
    margin-right: 1rem;
}

@media (max-width:425px){
    .landing-page,
    .logo,
    .strona-glowna{
        height: 55vh;
    }

    .landing-page::before,
    .landing-page::after,
    .strona-glowna::after{
        display: none;
    }

    .logo-biale,
    .logo-szare{
        font-size: 3.4rem;
        top: 30%;
        font-weight: 500;
    }

    .logo-biale {
        -webkit-text-stroke-width: 1px;
    }

    .landing-page{
        width: 70%;
    }
    .nd-title {
        letter-spacing: .25rem;
        font-size: 2rem;
        bottom: 40%;
    }

    nav{
        width: 100%; 
    }

    .linki{
        position: fixed;
        z-index: 100;
        width:80%;
        background-color: #FFA987;
        height: 3.5rem;
        border-radius: 1px;
    }

    .linki a {
        font-size: 13px;
        letter-spacing: 2px;
    }
    
    .about-animation,
    .services-animation,
    .contact-animation,
    .galery-animation{
        top: 50%;
    }

    .roller {
        bottom: 22%;
        height: 2rem;
    }
    /* ABOUT */
    .o-mnie{
        height: 6%;
        width: 100%;
        border-right: none;
        border-bottom:2px solid #FFA987;
    }

    .o-mnie p{
        font-size: 15px;
        letter-spacing: 4px;
    }

    .about{
        width: 100%;
        height: 48vh;
        margin-bottom: 1rem;
    }

    .o-mnie::before{
        left: 48%;
        top: -150%;
        transform: rotate(90deg);
    }

    .o-mnie-tekst{
        height: 23.5rem;
        font-size: .7rem;
        margin-left: .92rem;
    }

    /* IKONY */
    .ikony{
        height: 5rem;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .exp{
        width: 11rem;
    }
    .exp img{
        height: 3rem;
    }

    .exp p {
        font-size:10px;
    }
    .rynek{
        display: none;
    }
    .teren{
        width: 11rem;
        margin-left: .1rem;
    }
    .teren img{
        height: 3rem;
    }
    .teren p{
        font-size: 10px;

    }
    /* USLUGI */
    .uslugi1 {
        width: 100%;
        height: 7rem;
    }
    .uslugi{
        margin-left: 0px;
        width: 100%;
    }

    .uslugi p{     
    font-size: 15px;   
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    }

    .uslugi::before{
    bottom: -9.5%;
    }

    .uslugi-tekst1 {
        width: 100%;
    }

    .uslugi-tekst {
        margin-left: 0px;
        width: 100%;
    }

    .uslugi-tekst::after {
        width: 50%;
    }

    .tekst p{
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .jeden{
        padding-right:1.4rem ;
    }

    .jeden:nth-of-type(3){
        border-right: none;
    }

    .dwa{
        border-right: none;
        border-left: 2px solid #FFA987;
        padding-left: 2rem;
    }

    .dwa2{
        border-left: 2px solid #FFA987;
        padding-left: 2rem;
    }

    .trzy{
        padding-right: 2.2rem;
    }
    /* KONTAKT */
    .strzalka{
        height: 8rem;
    }

    .contact {
        margin-top: 0rem;
        height: 19rem;
        margin-bottom: 0rem;
    }
    
    .kontakt{
        height: 8rem;
        width: 100%;
        border-bottom: none;
        margin-top: -1.6rem;
    }

    .kontakt p {
        font-size: 23px;
    }
    
    .kontakt-tekst {
        border-top: 2px solid #FFA987;
        width: 50%;
        height: 8.5rem;
    }

    .telefon {
        width: 12rem;
    }
    
    .telefon p {
        font-size: 1.3rem;
    }

    .email {
        width: 16rem;
    }
    
    .email p {
        font-size: 1.3rem;
    }

    .linie {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 29rem;
        right: 50%;
        transform: translate(50%,0);
        top:-9rem;
    }
    /* FOOTER */
    .kolo {
        transform: translate(50%,0%);
        right: 50%;
        top: -55%;
        height: 1.5rem;
    }

    .strzala {
        height: .9rem;
        right: 48%;
        top: -5%;
    }

    .odnosniki{
        display: none;
    }

    footer {
        height: 2rem;
    }
}

@media (min-width:426px) and (max-width:639px) {
    .landing-page,
    .logo,
    .strona-glowna{
        height: 60vh;
    }

    .landing-page::before,
    .landing-page::after,
    .strona-glowna::after{
        display: none;
    }

    .nd-title {
        letter-spacing: .30rem;
        font-size: 2.3rem;
        bottom: 35%;
    }

    .logo-biale,
    .logo-szare{
        font-size: 6rem;
        top: 24%;
        font-weight: 500;
    }

    .logo-biale {
        -webkit-text-stroke-width: 1px;
    }

    .landing-page{
        width: 70%;
    }

    .header{
        width: 100%;
    }

    nav{
        width: 100%; 
    }

    .linki{
        position: fixed;
        z-index: 100;
        width:90%;
        background-color: #FFA987;
        height: 4.2rem;
        border-radius: 5px;
    }

    .linki a {
        font-size: 16px;
        letter-spacing: 2px;
    }
    
    .about-animation,
    .services-animation,
    .contact-animation,
    .galery-animation{
        top: 50%;
    }

    .roller {
        z-index: 200;
        top: 0%;
        left: 47.5%;
        height:2rem;
        transform: translate(-50%, 0%);
        filter: brightness(100);

    }

    /* ABOUT */
    .o-mnie{
        height: 20%;
        width: 100%;
        border-right: none;
        border-bottom:2px solid #FFA987;
    }

    .o-mnie p{
        font-size: 23px;
    }

    .about{
        width: 100%;
        height: 29.5rem;
        margin-bottom: 1rem;
    }

    .o-mnie::before{
        left: 0%;
        top: 25%;
        transform: rotate(180deg);
    }

    .o-mnie-tekst{
        height: 23.5rem;
        font-size: .95rem;
        margin-left: .92rem;
    }

    /* IKONY */
    .ikony{
        height: 7rem;
        justify-content: center;
    }
    .exp{
        width: 15rem;
    }
    .exp img{
        height: 5rem;
    }

    .exp p {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #A19F9C;
        margin-left: 10px;
    }
    .rynek{
        display: none;
    }
    .teren{
        width: 15rem;
        margin-left: 2rem;
    }
    .teren img{
        height: 5rem;
    }
    .teren p{
        font-size: 15px;

    }
    /* USLUGI */
    .uslugi1 {
        width: 100%;
        height: 10rem;
    }
    .uslugi{
        margin-left: 0px;
        width: 100%;
    }

    .uslugi p{     
    font-size: 23px;   
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    }

    .uslugi::before{
    bottom: -9.5%;
    }

    .uslugi-tekst1 {
        width: 100%;
    }

    .uslugi-tekst {
        margin-left: 0px;
        width: 100%;
    }

    .uslugi-tekst::after {
        width: 50%;
    }

    .tekst p{
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .jeden{
        padding-right:1.4rem ;
    }

    .jeden:nth-of-type(3){
        border-right: none;
    }

    .dwa{
        border-right: none;
        border-left: 2px solid #FFA987;
        padding-left: 2rem;
    }

    .dwa2{
        border-left: 2px solid #FFA987;
        padding-left: 2rem;
    }

    .trzy{
        padding-right: 2.2rem;
    }
    /* KONTAKT */
    .strzalka{
        height: 8rem;
    }

    .contact {
        margin-top: 0rem;
        height: 19rem;
        margin-bottom: 0rem;
    }
    
    .kontakt{
        height: 8rem;
        width: 100%;
        border-bottom: none;
        margin-top: -1.6rem;
    }

    .kontakt p {
        font-size: 23px;
    }
    
    .kontakt-tekst {
        border-top: 2px solid #FFA987;
        width: 50%;
        height: 8.5rem;
    }

    .telefon {
        width: 12rem;
    }
    
    .telefon p {
        font-size: 1.3rem;
    }

    .email {
        width: 16rem;
    }
    
    .email p {
        font-size: 1.3rem;
    }

    .linie {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 29rem;
        right: 50%;
        transform: translate(50%,0);
        top:-9rem;
    }
    /* FOOTER */
    .kolo {
        transform: translate(50%,0%);
        right: 50%;
        top: -55%;
        height: 1.5rem;
    }

    .strzala {
        height: .9rem;
        right: 48%;
        top: -5%;
    }

    .odnosniki{
        display: none;
    }

    footer {
        height: 2rem;
    }
}